@media screen and (max-width:1088px) {
    .linha-produt{
        display: block;
        padding-left: 0em;
        margin-left: auto;
        margin-right: auto;

        }
    
        
        #menu-carrinho{
            top: 5em;
            left: 0.4em;
        }
        #menu-login{
            left: 0.5em;
        
            top: 5em;
        }
       
}